body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#quizContainer{
    height: 50%;
    width: 80%;
}
button {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#quizContent {
    margin-top: 20px;
}

#answers button {
    display: block;
    margin: 10px auto;
}
